.smallscreen {
    display: flex;

    width: 100vw;
    height: 100vh;

    background-color: white;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-top: 10vh;
}

.smallscreen .header {
    position: absolute;
    top: 0;

    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: 100vw;

    background-color: white;
    overflow: hidden;
}

.smallscreen .header img {
    margin-right: -120px;
}

.smallscreen .list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    box-sizing: border-box;
}

.smallscreen .speech {
    display: flex;

    color: black;

    width: 100vw;

    text-transform: uppercase;

    box-sizing: border-box;
    transition: background-color 1s;

    cursor: pointer;
}

.smallscreen .speakertime {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 30vw;
    height: 22.5vh;
    padding: 2vh 0;
    overflow: hidden;
    box-sizing: border-box;
}

.smallscreen .speaker {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    min-height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-size: 2.5vh;
    font-family: Museo-Sans-Cyrl_0, Helvetica, sans-serif;
}

.smallscreen .time {
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    min-height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 3vh;
    font-family: Museo-Sans-Cyrl, Helvetica, sans-serif;
}

.smallscreen .theme {
    width: 70vw;
    height: 22.5vh;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-family: Museo-Sans-Cyrl_0, Helvetica, sans-serif;
    font-size: 3vh;
    color: #777777;
    padding-left: 1vw;
    padding-right: 3vw;
}

.smallscreen .theme.bigger {
    font-family: Museo-Sans-Cyrl_2, Helvetica, sans-serif;
    font-size: 5vh;
}

