html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    background-color: black;
}

#root {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh;
}
