.bigscreen {
    display: flex;
    width: 100vw;
    height: 100vh;

    background-color: #0e1022;
    overflow: hidden;
}

.bigscreen .description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 100vh;

    color: white;
    font-size: 40px;

    padding: 10vh;
    font-family: Museo-Sans-Cyrl_0, Helvetica, sans-serif;
    box-sizing: border-box;
}

.bigscreen .theme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    color: white;
    font-size: 100px;

    padding: 10vh;
    font-family: Museo-Sans-Cyrl_1, Helvetica, sans-serif;
    box-sizing: border-box;
}

.bigscreen .theme .time {
    margin-top: 10vh;
    font-size: 80px;
    font-family: Museo-Sans-Cyrl_1, Helvetica, sans-serif;
}

.bigscreen .speaker {
    position: absolute;
    z-index: 1;
    color: white;
    font-size: 50px;
    font-family: Museo-Sans-Cyrl_1, Helvetica, sans-serif;
    transition: background-color 4s, top 4s, left 4s, width 4s, height 4s;
    box-sizing: border-box;

    padding: 1vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*border: 1px solid white;*/
}

.bigscreen .speaker .time {
    font-size: 30px;
    font-family: Museo-Sans-Cyrl, Helvetica, sans-serif;
}

.bigscreen .speaker .person {
    font-size: 25px;
    font-family: Museo-Sans-Cyrl_1, Helvetica, sans-serif;
}

.bigscreen .speaker .point {
    font-size: 18px;
    font-family: Museo-Sans-Cyrl, Helvetica, sans-serif;
}

.bigscreen .ray-top {
    position: absolute;
    z-index: 0;
    transition: background-color 4s, top 4s, left 4s, width 4s, height 4s, transform 4s;
}

.bigscreen .ray-left {
    position: absolute;
    z-index: 0;
    transition: background-color 4s, top 4s, left 4s, width 4s, height 4s, transform 4s;
}
